body {
    margin-top: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transform-origin: center;
    height: 100%;
    padding: 0;
    background-color: rgb(47, 59, 110);
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    margin-top: 10%;
}

h1 {
    margin-bottom: 5%;
    text-align: center;
    color: rgb(218, 218, 218);
}

#button {
    margin: 10px 0 10px 0;
}

.image {
    filter: invert(100%)
}

input {
    margin-bottom: 10px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    @media (max-width: 720px){
        font-size: 87.5% // 14px
    }

    @media (max-width: 1080px){
        font-size: 93.75% // 15px
    }

}