body {
    margin-top: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transform-origin: center;
    height: 100%;
    padding: 0;
    background-color: rgb(47, 59, 110);
    color: white;
}

main {
    margin-top: 10%;
}

h1 {
    margin-bottom: 5%;
    text-align: center;
    color: rgb(218, 218, 218);
}

#button {
    margin: 10px 0 10px 0;
}